<?xml version="1.0"?>
<!--
/************************************************************************
  © 2013,2014, 2015 Freestyle Solutions.   All rights reserved.
  FREESTYLE SOLUTIONS, DYDACOMP, FREESTYLE COMMERCE, and all related logos 
  and designs are trademarks of Freestyle Solutions (formerly known as Dydacomp)
  or its affiliates.
  All other product and company names mentioned herein are used for
  identification purposes only, and may be trademarks of
  their respective companies.
************************************************************************/
-->
<config>
    <modules>
        <Freestyle_Advancedexport>
            <version>1.4.1</version>
        </Freestyle_Advancedexport>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <advancedexport>
                    <file>advancedexport.xml</file>
                </advancedexport>
            </updates>
        </layout>        
    </adminhtml>
    <admin>
        <routers>
            <!-- modify router so that is Magento like e.g. root/index.php/admin/module/action/ -->
            <!--
            <advancedexport>
                <use>admin</use>
                <args>
                    <module>Freestyle_Advancedexport</module>
                    <frontName>advancedexport</frontName>
                </args>
            </advancedexport>
            -->
            <adminhtml>
                <args>
                    <modules>
                        <Freestyle_Advancedexport after="Mage_Adminhtml">Freestyle_Advancedexport_Adminhtml</Freestyle_Advancedexport>
                    </modules>
                </args>
            </adminhtml>        
        </routers>
    </admin>
    <crontab>
        <jobs>
            <advancedexport_notify>
                <schedule><cron_expr>*/1 * * * *</cron_expr></schedule>
                <run><model>advancedexport/cronjob::send</model></run>
            </advancedexport_notify>
			<!--
            <advancedexport_purgequeue>
                <schedule><cron_expr>0 2 15 * *</cron_expr></schedule>
                <run><model>advancedexport/cronjob::purge</model></run>                
            </advancedexport_purgequeue>
			-->
        </jobs>
    </crontab>
    <global>
        <models>
            <advancedexport>
                <class>Freestyle_Advancedexport_Model</class>
                <resourceModel>advancedexport_mysql4</resourceModel>
            </advancedexport>
            <advancedexport_mysql4>
                <class>Freestyle_Advancedexport_Model_Mysql4</class>
                <entities>
                    <history>
                        <table>freestyle_advancedexport_history</table>
                    </history>
                    <passivemode>
                        <table>freestyle_advancedexport_passivemode</table>
                    </passivemode>
                    <configuration>
                        <table>freestyle_advancedexport_configuration</table>
                    </configuration>
                    <queue>
                        <table>freestyle_advancedexport_queue</table>
                    </queue>                    
                </entities>
            </advancedexport_mysql4>
            <importexport>
                <rewrite>
                    <import_entity_product>Freestyle_Advancedexport_Model_Import_Entity_Product</import_entity_product>
                </rewrite>
            </importexport>
            <importexport>
                <rewrite>
                    <import_entity_customer>Freestyle_Advancedexport_Model_Import_Entity_Customer</import_entity_customer>
                </rewrite>
            </importexport>
        </models>
        <blocks>
            <advancedexport>
                <class>Freestyle_Advancedexport_Block</class>
            </advancedexport>
        </blocks>
        <helpers>
            <advancedexport>
                <class>Freestyle_Advancedexport_Helper</class>
            </advancedexport>
        </helpers>
        <resources>
            <advancedexport_setup>
                <setup>
                    <module>Freestyle_Advancedexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedexport_setup>
            <advancedexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedexport_write>
            <advancedexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedexport_read>            
        </resources>
        <events>
            <!--
            <catalog_product_save_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>productSaveAfter</method>
                    </advancedexport>
                </observers>
            </catalog_product_save_after>
            -->
            <catalog_product_save_commit_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>productSaveAfter</method>
                    </advancedexport>
                </observers>
            </catalog_product_save_commit_after>            
            <catalog_product_delete_before>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>productDeleteBefore</method>
                    </advancedexport>
                </observers>
            </catalog_product_delete_before>
            <catalog_custom_product_import_finish_before>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>productSaveAfterStandartImport</method>
                    </advancedexport>
                </observers>
            </catalog_custom_product_import_finish_before>
            <catalog_category_save_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>categorySaveAfter</method>
                    </advancedexport>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_before>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>categoryDeleteBefore</method>
                    </advancedexport>
                </observers>
            </catalog_category_delete_before>
            <customer_save_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customerSaveAfter</method>
                    </advancedexport>
                </observers>
            </customer_save_after>
            <customer_delete_before>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customerDeleteBefore</method>
                    </advancedexport>
                </observers>
            </customer_delete_before>
            <!--                         
                                    <customer_address_save_after>
                                            <observers>
                                                    <advancedexport>
                                                            <class>advancedexport/observer</class>
                                                            <method>customerAddressSaveAfter</method>
                                                    </advancedexport>
                                            </observers>
                                    </customer_address_save_after>
                                    <customer_address_delete_after>
                                            <observers>
                                                    <advancedexport>
                                                            <class>advancedexport/observer</class>
                                                            <method>customerAddressSaveAfter</method>
                                                    </advancedexport>
                                            </observers>
                                    </customer_address_delete_after>
            -->                        
            <customer_custom_import_finish_before>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customerSaveAfterStandartImport</method>
                    </advancedexport>
                </observers>
            </customer_custom_import_finish_before>
            <!--<sales_order_save_after>-->
            <sales_order_save_commit_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>orderSaveAfter</method>
                    </advancedexport>
                </observers>
             </sales_order_save_commit_after>
             <customer_group_save_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customergroupSaveAfter</method>
                    </advancedexport>
                </observers>
            </customer_group_save_after>
            <customer_group_delete_before>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customergroupDeleteBefore</method>
                    </advancedexport>
                </observers>
            </customer_group_delete_before>
            <admin_system_config_changed_section_customer>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>systemConfigChangedSectionCustomer</method>
                    </advancedexport>
                </observers>
            </admin_system_config_changed_section_customer>
            <!--</sales_order_save_after>-->
            <!-- NEW CODE 
            <order_cancel_after_commit_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>orderSaveAfter</method>
                    </advancedexport>
                </observers>
            </order_cancel_after_commit_after>
             NEW CODE -->
             <catalog_product_media_add_image>
                 <observers>
                     <advancedexport>
                         <class>advancedexport/observer</class>
                         <method>mediaSaveAfter</method>
                     </advancedexport>
                 </observers>
             </catalog_product_media_add_image>             
        </events>
    </global>
    <frontend>
        <events>
            <!-- prevents multiple files in admin -->
            <customer_address_save_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customerAddressSaveAfter</method>
                    </advancedexport>
                </observers>
            </customer_address_save_after>
            <customer_address_delete_after>
                <observers>
                    <advancedexport>
                        <class>advancedexport/observer</class>
                        <method>customerAddressSaveAfter</method>
                    </advancedexport>
                </observers>
            </customer_address_delete_after>            
        </events>
        <routers>
            <advancedexport>
                <use>standard</use>
                <args>
                    <module>Freestyle_Advancedexport</module>
                    <frontName>advancedexport</frontName>
                </args>
            </advancedexport>
        </routers>
        <layout>
            <updates>
                <advancedexport>
                    <file>advancedexport.xml</file>
                </advancedexport>
            </updates>
        </layout>
    </frontend>
    <default>
        <freestyle_advancedexport>
            <settings>
                <!-- <export_path>advancedexport</export_path> -->
                <chanel_id>channelId</chanel_id>
                <chanel_name>channelName</chanel_name>
                <memory_limit>256</memory_limit>
                <build_date>(FTT)1.1.63.23.4</build_date>
                <enable_passive_gui>0</enable_passive_gui>
                <cutoff_date></cutoff_date>
                <product_send_images>0</product_send_images>
            </settings>
            <queue>
                <enable_queue>0</enable_queue>
                <ignore_api>1</ignore_api>
                <queuebatchsize>50</queuebatchsize>   
                <send_async>1</send_async>             
                <send_order_dependencies>1</send_order_dependencies>
            </queue>
            <debug>
                <curl_verify_peer>1</curl_verify_peer>
            </debug>
        </freestyle_advancedexport>
    </default>
</config>